﻿<template>
    <require from="./configform.scss"></require>
    <ux-dialog>
        <ux-dialog-body>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0"><span class="fa fa-reorder">&nbsp;</span>Configuration</h3>
                </div>
                <div class="card-block">
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="desciption" placeholder="Enter a Description" value.bind="config.description">
                        </div>
                        <div class="form-group">
                            <label for="url">Url</label>
                            <input type="url" class="form-control" id="url" placeholder="Enter a Url" required="" value.bind="config.url">
                        </div>
                        <div class="form-group">
                            <label for="statusCode">Http Status</label>
                            <input type="text" class="form-control" id="statusCode" placeholder="Enter the expected Http status code." required="" value.bind="config.statusCode">
                        </div>
                        <div class="form-group">
                            <label for="bodyContains">Response body contains</label>
                            <input type="text" class="form-control" id="bodyContains" placeholder="Enter a value expected in the body." required="" value.bind="config.bodyContains">
                        </div>
                        <div class="form-group">
                            <label for="schduleTime">Schedule time</label><br />

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" repeat.for="minute of minutes" click.trigger="config.scheduleTime = minute.id"
                                       class.one-time="config.scheduleTime == minute.id ? 'active':'vr'">
                                    <input type="radio" name="interval"
                                           model.bind="minute.id">
                                    ${minute.name}
                                </label>
                            </div>
                        </div>
                        <div class="form-group float-right">
                            <label for="enabled">
                                <span>Enabled</span>
                                <input type="checkbox" class="form-control" id="enabled" checked.bind="config.enabled">
                            </label>
                        </div>
                        <div>
                            <input type="hidden" value.bind="config.id" />
                        </div>
                    </form>
                </div>


                <div if.bind="testResult">
                    <div class="alert alert-dismissible ${ testResult.succeeded ? 'alert-success' : 'alert-danger' }">
                        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                        <h5>${ testResult.succeeded ? 'Test Successful' : 'Test Failed'}</h5>
                        <strong>Duration: </strong><span>${ testResult.duration }</span>
                        <br />
                        <strong>Status code: </strong><span>${ testResult.statusCode }</span>
                    </div>
                </div>
            </div>
        </ux-dialog-body>
        <ux-dialog-footer>
            <button class="btn btn-info pull-left" click.trigger="test(config)">Test</button>

            <button click.trigger="controller.cancel()">Cancel</button>
            <button class="btn btn-success" click.trigger="controller.ok(config)">Save</button>
        </ux-dialog-footer>
    </ux-dialog>
</template>