<template>
    <require from="./statusclass"></require>
    <require from="./dashboard-cardview.scss"></require>
    <require from="../value-converters/long-text"></require>
    <require from="../dashboard/animateresultonchange"></require>
    <h4 class="easy-spacer">
        <span class="fa fa-th-large">&nbsp;</span>Dashboard</h4>

    <div class="container-fluid">
        <div class="d-flex flex-wrap">
            <div repeat.for="status of dashboardResults" model.bind="status" class="p-2 easy-card" animateresultonchange.bind="status.lastStatus">
                <div class="card" class.bind="status.lastStatus | statusClass">
                    <h5 class="card-header">
                        <div class="float-left" title="${status.description}">${ status.description | longText:28 }</div>
                        <div class="float-right">
                                <span if.bind="status.lastStatus === 'Running'" class='pull-right fa fa-spin fa-circle-o-notch'></span>
                        </div>
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Next update</h5>
                        <h6 class="card-subtitle text-light">${ status.friendlyNextUpdate }</h6>
                    </div>
                    <div class="card-footer card-text">
                        <span> ${ status.friendlyLastUpdated }</span>
                        <span class='pull-right fa fa-list' click.delegate="detailsClick(status.id)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

