body {
		padding-top: 70px;
}

ux-dialog-overlay.active {
	opacity: 0.5;
	background-color: black;
}

.easy-spacer {
	margin-top: 20px;
}

.easy-spacer-more {
	margin-top: 80px;
}

ux-dialog {
	min-width: 450px;
	background-color: rgba(68, 68, 68, 0.5);

	form {
		padding: 5px 10px;

		input.form-control {
			text-align: left;
		}
	}


}

.easy-dialog-padding {
	padding: 10px;
}


.easy-watermark {
	position: fixed;
	bottom: 7px;
	right: 15px;
	opacity: 0.6;
}

@media (min-width: 1900px) {
    .container {
        max-width: 1840px;
    }
}

